/* ==========================================================================
   Mixins
   ========================================================================== */
html {
  font-size: 1em; }

body {
  background-color: white;
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.4; }

h1 {
  margin-top: 0;
  font-size: 1.296em; }

h2 {
  font-size: 1.215em; }

h3 {
  font-size: 1.138em; }

h4 {
  font-size: 1.067em; }

h5 {
  font-size: 1em; }

small, .font_small {
  font-size: 0.937em; }

.type-right {
  text-align: right; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

body,
html {
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative; }

body:after {
  position: fixed !important; }

body {
  background: #c9e5ff;
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  body.info-active {
    background: #ffdac9; }

.background-white {
  background: #fff;
  min-height: 100%;
  padding-bottom: 100px; }

img,
iframe {
  width: 100%;
  max-width: 100%; }

::-moz-selection {
  color: #fff;
  background: rgba(50, 50, 50, 0.99);
  text-shadow: none; }

::selection {
  color: #fff;
  background: rgba(50, 50, 50, 0.99);
  text-shadow: none; }

.layout-container {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 92%; }

.layout-container-inner {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 1100px; }

.layout-row {
  clear: both;
  width: 100%; }

.layout-span-twelve {
  float: left;
  width: 100%; }

.layout-span-eight {
  margin-right: 24px;
  float: left;
  width: -moz-calc(66.64% - 12px);
  width: -webkit-calc(66.64% - 12px);
  width: calc(66.64% - 12px); }
  @media (max-width: 900px) {
    .layout-span-eight {
      width: 100%; } }

.layout-shift-six {
  margin-left: -moz-calc(50% + 12px);
  margin-left: -webkit-calc(50% + 12px);
  margin-left: calc(50% + 12px); }

.layout-span-six {
  margin-right: 24px;
  float: left;
  width: -moz-calc(50% - 12px);
  width: -webkit-calc(50% - 12px);
  width: calc(50% - 12px); }
  @media (max-width: 650px) {
    .layout-span-six {
      width: 100%;
      margin-right: 0; } }

.layout-shift-four {
  margin-left: -moz-calc(33.3% + 9px);
  margin-left: -webkit-calc(33.3% + 9px);
  margin-left: calc(33.3% + 9px); }
  @media (max-width: 900px) {
    .layout-shift-four {
      width: 100%; } }

.layout-span-four {
  margin-right: 24px;
  float: left;
  width: -moz-calc(33.3% - 16px);
  width: -webkit-calc(33.3% - 16px);
  width: calc(33.3% - 16px); }
  @media (max-width: 900px) {
    .layout-span-four {
      width: 100%; } }
  @media (max-width: 650px) {
    .layout-span-four {
      width: 100%;
      margin-right: 0; } }

.layout-shift-three {
  margin-left: -moz-calc(25% + 6px);
  margin-left: -webkit-calc(25% + 6px);
  margin-left: calc(25% + 6px); }
  @media (max-width: 1047px) {
    .layout-shift-three {
      margin-left: 0; } }

.layout-span-three {
  margin-right: 24px;
  float: left;
  width: -moz-calc(25% - 18px);
  width: -webkit-calc(25% - 18px);
  width: calc(25% - 18px); }
  @media (max-width: 900px) {
    .layout-span-three {
      width: -moz-calc(50% - 12px);
      width: -webkit-calc(50% - 12px);
      width: calc(50% - 12px); }
      .layout-span-three:nth-child(2) {
        margin-right: 0; } }
  @media (max-width: 650px) {
    .layout-span-three {
      width: 100%;
      margin-right: 0; } }

.layout-shift-two {
  margin-left: -moz-calc(16.6667% + 4px);
  margin-left: -webkit-calc(16.6667% + 4px);
  margin-left: calc(16.6667% + 4px); }
  @media (max-width: 1047px) {
    .layout-shift-two {
      margin-left: 0;
      margin-right: 0; } }

.layout-span-two {
  margin-right: 24px;
  float: left;
  width: -moz-calc(16.6667% - 20px);
  width: -webkit-calc(16.6667% - 20px);
  width: calc(16.6667% - 20px); }
  @media (max-width: 900px) {
    .layout-span-two {
      width: -moz-calc(33.3% - 16px);
      width: -webkit-calc(33.3% - 16px);
      width: calc(33.3% - 16px); }
      .layout-span-two:nth-child(3) {
        margin-right: 0; } }
  @media (max-width: 900px) {
    .layout-span-two {
      width: 100%; }
      .layout-span-two:nth-child(2) {
        margin-right: 0; } }

.layout-shift-one {
  margin-left: -moz-calc(8.33% + 2px);
  margin-left: -webkit-calc(8.33% + 2px);
  margin-left: calc(8.33% + 2px); }
  @media (max-width: 900px) {
    .layout-shift-one {
      margin-left: 0; } }

.layout-span-one {
  width: -moz-calc(8.33%);
  width: -webkit-calc(8.33%);
  width: calc(8.33%); }
  @media (max-width: 900px) {
    .layout-span-one {
      margin-left: 0; } }

.layout-split-half {
  width: -moz-calc(50% - 12px);
  width: -webkit-calc(50% - 12px);
  width: calc(50% - 12px);
  float: left;
  margin-right: 24px; }
  .layout-split-half:last-child {
    margin-right: 0; }
  @media (max-width: 1047px) {
    .layout-split-half {
      width: 100%; } }

.layout-title-center {
  display: block;
  margin: 0 auto;
  width: -moz-calc(33.3% - 16px);
  width: -webkit-calc(33.3% - 16px);
  width: calc(33.3% - 16px); }
  @media (max-width: 900px) {
    .layout-title-center {
      width: 100%; } }

.layout-margin-one {
  margin-top: 15px; }

.layout-column-right {
  margin-right: 0; }

.link-block {
  display: block; }

.link-social {
  display: block;
  padding: 3px 0; }

header {
  z-index: 100; }

.button-menu {
  z-index: 10000; }

.layout-menu {
  z-index: 10; }

.backend-toolbar {
  z-index: 10; }

.image-hero-container {
  z-index: -5; }

.link-back-to-all {
  z-index: 10000; }

@-webkit-keyframes fadeIn {
  from {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }
@-o-keyframes fadeIn {
  from {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }
@keyframes fadeIn {
  from {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }
.article-container {
  max-width: 100%;
  overflow: hidden; }

.article-posts {
  float: left;
  margin-top: 130px;
  height: auto;
  overflow: hidden;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .article-posts h5 {
    font-weight: 300; }
  .article-posts a {
    border-bottom: 2px solid #000;
    color: #000;
    text-decoration: none; }
  .info-active .article-posts {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  @media (max-width: 1047px) {
    .article-posts {
      margin-top: 100px; } }

.article-info {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 130px;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  height: auto;
  overflow: hidden;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .info-active .article-info {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  .article-info h5 {
    font-weight: 300; }
  .article-info a {
    border-bottom: 2px solid #000;
    color: #000;
    text-decoration: none; }
  @media (max-width: 1047px) {
    .article-info {
      margin-top: 100px; } }

.image-post-hero {
  width: 100%;
  width: 100%;
  height: 0;
  padding-bottom: 61.76652%;
  background: #ECECEC;
  overflow: hidden; }

.image-post-clip {
  width: 100%;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background: #ECECEC;
  overflow: hidden; }

.image-collaborator-profile {
  width: 35px;
  height: 35px;
  background: #ECECEC;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  margin-right: 10px;
  float: left;
  overflow: hidden; }

.image-social-profile {
  width: 35px;
  height: 35px;
  background: #ECECEC;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  float: left;
  overflow: hidden; }

.image-instagram-holder {
  width: 100%;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: #ECECEC;
  overflow: hidden; }

nav {
  float: right;
  display: block;
  padding: 0;
  width: auto; }
  nav ul {
    float: left;
    padding: 0;
    border: 1px solid #000;
    height: auto;
    overflow: auto; }
    nav ul li {
      list-style-type: none;
      float: left;
      width: 50%; }
    nav ul li a {
      cursor: pointer;
      display: block;
      color: #000;
      box-sizing: border-box;
      width: auto;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 6px 8px 5px 8px;
      font-size: 0.75em;
      text-align: center;
      text-decoration: none; }
    nav ul li.header-navigation-active {
      background: #000; }
      nav ul li.header-navigation-active a {
        color: #fff; }

header {
  width: 100%;
  height: 60px;
  background: #fff;
  top: 0;
  float: left;
  padding-top: 30px;
  padding-bottom: 40px;
  position: fixed;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  header.header--colapse {
    height: 50px;
    padding: 0px 0 12px 0; }
  header h1 {
    color: #000;
    font-size: 1em;
    padding-top: 20px;
    float: left;
    width: intrinsic; }
  header h2 {
    font-size: 1em; }
  @media (max-width: 1047px) {
    header {
      padding: 20px 0; }
      header .layout-span-six {
        display: none; }
      header .layout-span-three {
        width: intrinsic;
        float: left; } }

.banner-top {
  width: 100%;
  height: 50px;
  background: #000;
  display: none; }

a.element-post {
  width: 100%;
  background: #c9e5ff;
  height: auto;
  overflow: auto;
  padding: 50px 0 50px 0;
  cursor: pointer;
  display: block;
  opacity: 0;
  border-bottom: 0; }
  a.element-post h5, a.element-post h1, a.element-post p {
    color: #000; }
  a.element-post p {
    margin-bottom: 0; }
  a.element-post h5 {
    margin: 0;
    font-weight: 300; }
  a.element-post h5.type-right {
    display: inline-block;
    float: right; }
  a.element-post:nth-child(even) {
    background: #badeff; }
    a.element-post:nth-child(even) h5, a.element-post:nth-child(even) h1, a.element-post:nth-child(even) p {
      color: #000; }
  a.element-post:hover {
    background: #b0d9ff; }
  a.element-post:nth-child(1) {
    -webkit-animation: fadeIn 0.3s ease-in-out;
    -moz-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s; }
  a.element-post:nth-child(2) {
    -webkit-animation: fadeIn 0.3s ease-in-out;
    -moz-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  a.element-post:nth-child(3) {
    -webkit-animation: fadeIn 0.3s ease-in-out;
    -moz-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  a.element-post:nth-child(4) {
    -webkit-animation: fadeIn 0.3s ease-in-out;
    -moz-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  a.element-post:nth-child(5) {
    -webkit-animation: fadeIn 0.3s ease-in-out;
    -moz-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s; }
  @media (max-width: 1047px) {
    a.element-post {
      padding: 40px 0; }
      a.element-post h5 {
        margin-bottom: 1em; } }
  @media (max-width: 900px) {
    a.element-post {
      padding: 35px 0 25px 0; }
      a.element-post .layout-span-six {
        width: 70%;
        margin-right: 0; }
      a.element-post .layout-span-three {
        width: 70%;
        margin-right: 0; }
      a.element-post .layout-column-right {
        width: 30%; }
      a.element-post h5 {
        margin-bottom: 1em; }
      a.element-post p {
        display: none; } }
  @media (max-width: 650px) {
    a.element-post {
      padding: 35px 0 25px 0; }
      a.element-post .layout-span-six {
        width: 100%;
        margin-right: 0; }
      a.element-post .layout-span-three {
        width: 100%;
        margin-right: 0; }
      a.element-post .layout-column-right {
        width: 100%; }
      a.element-post h5 {
        margin-bottom: 1em; }
      a.element-post h5.type-right {
        margin-top: 0.5em;
        float: left; }
      a.element-post p {
        display: none; } }

.element-post-page {
  width: 100%;
  height: auto;
  overflow: auto;
  padding: 50px 0 50px 0;
  cursor: pointer;
  display: block;
  opacity: 0; }
  .element-post-page img {
    height: auto; }
  .element-post-page h5, .element-post-page h1, .element-post-page p {
    color: #000; }
  .element-post-page p {
    margin-bottom: 0; }
  .element-post-page h2 {
    margin: 1.215em 0; }
  .element-post-page h5 {
    margin: 0;
    font-weight: 300; }
  .element-post-page h5.type-right {
    display: inline-block;
    float: right; }
  .element-post-page h5 a {
    border-bottom: 0; }
  .element-post-page:nth-child(1) {
    -webkit-animation: fadeIn 0.3s ease-in-out;
    -moz-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s; }
  .element-post-page:nth-child(2) {
    -webkit-animation: fadeIn 0.3s ease-in-out;
    -moz-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .element-post-page:nth-child(3) {
    -webkit-animation: fadeIn 0.3s ease-in-out;
    -moz-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .element-post-page:nth-child(4) {
    -webkit-animation: fadeIn 0.3s ease-in-out;
    -moz-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  .element-post-page:nth-child(5) {
    -webkit-animation: fadeIn 0.3s ease-in-out;
    -moz-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s; }
  @media (max-width: 1047px) {
    .element-post-page .layout-span-three {
      width: -moz-calc(66.64% - 12px);
      width: -webkit-calc(66.64% - 12px);
      width: calc(66.64% - 12px);
      float: none;
      display: block;
      margin: 0 auto; }
    .element-post-page .layout-span-six {
      width: -moz-calc(66.64% - 12px);
      width: -webkit-calc(66.64% - 12px);
      width: calc(66.64% - 12px);
      float: none;
      display: block;
      margin: 0 auto; }
    .element-post-page h5 {
      margin-bottom: 1em; } }
  @media (max-width: 900px) {
    .element-post-page h5 {
      margin-bottom: 1em; }
    .element-post-page .layout-span-three, .element-post-page .layout-span-six {
      width: 100%; } }

/*# sourceMappingURL=style.css.map */
