// ==========================================================================
//
// Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
//
//

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

body,
html {
    min-height:100%;
    height:100%;
    overflow-x: hidden;
    position: relative;
}

body:after {
    position: fixed!important
}

body {
  background: $colourFour;
  font-family: $mainFont;
  font-weight: 200; 
  font-style: normal;
  margin: 0;
  @include transition(all, 0.4s, ease-in-out);

  &.info-active {
    background: $colourTwo;
  }
}

.background-white {
  background: #fff;
  min-height: 100%;
  padding-bottom: 100px;
}

img,
iframe {
    width:100%;
    max-width: 100%;
}

::-moz-selection {
  color: #fff;
  background: rgba(50, 50, 50, 0.99);
  text-shadow: none;
}

::selection {
  color: #fff;
  background: rgba(50, 50, 50, 0.99);
  text-shadow: none;
}
