// ==========================================================================
//
// Variables
//
//

$colourGrey: #ECECEC;
$colourOne: #d4ffc9;
$colourTwo: #ffdac9;
$colourThree: #fff0c9;
$colourFour: #c9e5ff;
$colourDark: #37393E;
$colourTypeLight: #C5C5C5;
$colourType: #6F777B;
$colourTypeDark: #0A0C0C;
